<h1><%= @project.repo %></h1>
<table>
  <tr>
    <th>Dependency</th>
    <th>Current Version</th>
    <th>Latest Version</th>
  </tr>
  <% @project.dependencies.each do |dependency| %>
    <tr class="<%= dependency[:status] %>">
      <td><%= dependency[:name] %></td>
      <td><%= dependency[:current_version] %></td>
      <td><%= dependency[:latest_version] %></td>
    </tr>
  <% end %>
</table>
