// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.error {
  background-color: red;
}

.warning {
  background-color: yellow;
}

.ok {
  background-color: greenyellow;
}
